/**
 * @file
 * Defines the site header layout and structure.
 *
 * The header contains the following elements:
 * - Logo
 * - Site tabs
 * - User menu
 */

.site-header {
  padding: 0 .5em;
  height: $header-height;

  background: $blue;

  @include box;
}

.site-header__logo {
  height: $header-height - 20px;
  float: left;
  padding-top: 10px;
}

.site-header__page-tabs {
  float: left;
  margin-left: 2em;

  &::before {
    width: $header-height;
    height: $header-height;
    padding-top: .5em;

    position: relative;
    top: 0;
    left: 0;

    color: white;
    text-align: center;

    display: block;
    cursor: pointer;

    @include icon-dots-three-vertical;
    @include box;

    @media screen and (min-width: $desktop-breakpoint) {
      display: none;
    }
  }

  ul.tabs {
    margin: 0;
    padding: 0;

    text-align: center;

    border: 0;

    background: $light-blue;

    @media screen and (min-width: $desktop-breakpoint) {
      margin-right: 1em;

      float: left;

      text-align: left;

      background: transparent;
    }

    li {
      display: block;
      margin: 0;
      padding: 0 .5em;
      width: 100%;

      @media screen and (min-width: $desktop-breakpoint) {
        float: left;
        width: auto;
        height: $header-height;
        padding-top: .2em;

        border-bottom: 0;

        @include box;

        // Only apply hover styles for non-touch screens.
        // @todo
        /*body.no-touch*/ &:hover {
          background: $light-blue;
        }
      }

      &:first-child a {
        border-top: 0;
      }

      &.active {

        a {
          text-decoration: underline;
        }

        @media screen and (min-width: $desktop-breakpoint) {
          background-color: $light-blue;

          a {
            text-decoration: none;
          }
        }
      }

      a {
        display: block;
        padding: 1em;
        margin: 0;

        color: white;

        border: 0;
        background: transparent;

        border-top: 1px solid $blue;

        @media screen and (min-width: $desktop-breakpoint) {
          padding: .5em 1em;
          border-top: 0;
        }

        &.add-content::before {
          padding-right: .25em;

          @include icon-plus;
        }

        &.preview-content::before {
          padding-right: .25em;

          @include icon-eye;
        }

        &.edit-content::before {
          padding-right: .25em;

          @include icon-edit;
        }

        &.play-content::before {
          padding-right: .25em;

          @include icon-controller-play;
        }

        &.clone-content::before {
          padding-right: .25em;

          @include icon-copy;
        }

        &.view-results::before {
          padding-right: .25em;

          @include icon-graduation-cap;
        }

        &.view-revisions::before {
          padding-right: .25em;

          @include icon-back-in-time;
        }
      }
    }
  }

  ul.tabs.secondary {
    font-size: .8em;

    border-top: 2px dashed white;

    @media screen and (min-width: $desktop-breakpoint) {
      border-top: 0;

      li {
        padding-top: .5em;

        border-right: 0;
      }
    }
  }
}

.site-header__page-tabs--open::before {
  background-color: $light-blue;
}

.site-header__page-tabs__tabs-wrapper {
  display: none;
  width: 100%;

  position: absolute;
  top: $header-height;
  left: 0;

  z-index: 100;

  @media screen and (min-width: $desktop-breakpoint) {
    display: block;

    position: relative;
    top: 0;
  }
}

.site-header__page-tabs--open .site-header__page-tabs__tabs-wrapper {
  display: block;
}

.site-header__user-navigation {
  float: right;

  text-align: right;

  &::before {
    display: block;
    width: $header-height;
    height: $header-height;
    padding-top: .5em;

    position: absolute;
    top: 0;
    right: 0;

    color: white;
    text-align: center;

    cursor: pointer;

    @include icon-user;
    @include box;
  }

  ul.menu {
    margin: 0;
    padding: 0;

    text-align: center;

    background-color: white;
    border-style: solid;
    border-color: $light-blue;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @media screen and (min-width: $desktop-breakpoint) {
      float: right;

      text-align: right;
    }

    li {
      display: block;
      margin: 0;
      padding: 0 1em;

      &.active a {
        text-decoration: underline;
        color: $dark-blue;
      }

      &:first-child a {
        border-top: 0;
      }

      a {
        display: block;
        padding: 1em;
        margin: 0;

        color: $blue;

        border-top: 1px solid $blue;
        background: transparent;

        @media screen and (min-width: $desktop-breakpoint) {
          padding: .5em 1em;
        }
      }
    }
  }
}

.site-header__user-navigation--open::before {
  background-color: white;
  color: $blue;
}

.site-header__user-navigation__links-wrapper {
  display: none;
  width: 100%;

  position: absolute;
  top: $header-height;
  right: 0;

  z-index: 100;

  @media screen and (min-width: $desktop-breakpoint) {
    right: .5em;
  }
}

.site-header__user-navigation--open .site-header__user-navigation__links-wrapper {
  display: block;
}
