/**
 * @file
 * Defines the Entypo icons import and mixins.
 *
 * The Entypo icon collection was exported to font formats using the Icomoon
 * application. The font is located in the /css/fonts folder.
 */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ca5wrl');
  src:  url('fonts/icomoon.eot?ca5wrl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ca5wrl') format('truetype'),
    url('fonts/icomoon.woff?ca5wrl') format('woff'),
    url('fonts/icomoon.svg?ca5wrl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon {
  font-family: 'icomoon', sans-serif;
  font-weight: normal;
}

@mixin icon-add-to-list {
  content: "\e900";
  @include icon;
}
@mixin icon-classic-computer {
  content: "\e901";
  @include icon;
}
@mixin icon-controller-fast-backward {
  content: "\e902";
  @include icon;
}
@mixin icon-creative-commons-attribution {
  content: "\e903";
  @include icon;
}
@mixin icon-creative-commons-noderivs {
  content: "\e904";
  @include icon;
}
@mixin icon-creative-commons-noncommercial-eu {
  content: "\e905";
  @include icon;
}
@mixin icon-creative-commons-noncommercial-us {
  content: "\e906";
  @include icon;
}
@mixin icon-creative-commons-public-domain {
  content: "\e907";
  @include icon;
}
@mixin icon-creative-commons-remix {
  content: "\e908";
  @include icon;
}
@mixin icon-creative-commons-share {
  content: "\e909";
  @include icon;
}
@mixin icon-creative-commons-sharealike {
  content: "\e90a";
  @include icon;
}
@mixin icon-creative-commons {
  content: "\e90b";
  @include icon;
}
@mixin icon-document-landscape {
  content: "\e90c";
  @include icon;
}
@mixin icon-remove-user {
  content: "\e90d";
  @include icon;
}
@mixin icon-warning {
  content: "\e90e";
  @include icon;
}
@mixin icon-arrow-bold-down {
  content: "\e90f";
  @include icon;
}
@mixin icon-arrow-bold-left {
  content: "\e910";
  @include icon;
}
@mixin icon-arrow-bold-right {
  content: "\e911";
  @include icon;
}
@mixin icon-arrow-bold-up {
  content: "\e912";
  @include icon;
}
@mixin icon-arrow-down {
  content: "\e913";
  @include icon;
}
@mixin icon-arrow-left {
  content: "\e914";
  @include icon;
}
@mixin icon-arrow-long-down {
  content: "\e915";
  @include icon;
}
@mixin icon-arrow-long-left {
  content: "\e916";
  @include icon;
}
@mixin icon-arrow-long-right {
  content: "\e917";
  @include icon;
}
@mixin icon-arrow-long-up {
  content: "\e918";
  @include icon;
}
@mixin icon-arrow-right {
  content: "\e919";
  @include icon;
}
@mixin icon-arrow-up {
  content: "\e91a";
  @include icon;
}
@mixin icon-arrow-with-circle-down {
  content: "\e91b";
  @include icon;
}
@mixin icon-arrow-with-circle-left {
  content: "\e91c";
  @include icon;
}
@mixin icon-arrow-with-circle-right {
  content: "\e91d";
  @include icon;
}
@mixin icon-arrow-with-circle-up {
  content: "\e91e";
  @include icon;
}
@mixin icon-bookmark {
  content: "\e91f";
  @include icon;
}
@mixin icon-bookmarks {
  content: "\e920";
  @include icon;
}
@mixin icon-chevron-down {
  content: "\e921";
  @include icon;
}
@mixin icon-chevron-left {
  content: "\e922";
  @include icon;
}
@mixin icon-chevron-right {
  content: "\e923";
  @include icon;
}
@mixin icon-chevron-small-down {
  content: "\e924";
  @include icon;
}
@mixin icon-chevron-small-left {
  content: "\e925";
  @include icon;
}
@mixin icon-chevron-small-right {
  content: "\e926";
  @include icon;
}
@mixin icon-chevron-small-up {
  content: "\e927";
  @include icon;
}
@mixin icon-chevron-thin-down {
  content: "\e928";
  @include icon;
}
@mixin icon-chevron-thin-left {
  content: "\e929";
  @include icon;
}
@mixin icon-chevron-thin-right {
  content: "\e92a";
  @include icon;
}
@mixin icon-chevron-thin-up {
  content: "\e92b";
  @include icon;
}
@mixin icon-chevron-up {
  content: "\e92c";
  @include icon;
}
@mixin icon-chevron-with-circle-down {
  content: "\e92d";
  @include icon;
}
@mixin icon-chevron-with-circle-left {
  content: "\e92e";
  @include icon;
}
@mixin icon-chevron-with-circle-right {
  content: "\e92f";
  @include icon;
}
@mixin icon-chevron-with-circle-up {
  content: "\e930";
  @include icon;
}
@mixin icon-cloud {
  content: "\e931";
  @include icon;
}
@mixin icon-controller-fast-forward {
  content: "\e932";
  @include icon;
}
@mixin icon-controller-jump-to-start {
  content: "\e933";
  @include icon;
}
@mixin icon-controller-next {
  content: "\e934";
  @include icon;
}
@mixin icon-controller-paus {
  content: "\e935";
  @include icon;
}
@mixin icon-controller-play {
  content: "\e936";
  @include icon;
}
@mixin icon-controller-record {
  content: "\e937";
  @include icon;
}
@mixin icon-controller-stop {
  content: "\e938";
  @include icon;
}
@mixin icon-controller-volume {
  content: "\e939";
  @include icon;
}
@mixin icon-dot-single {
  content: "\e93a";
  @include icon;
}
@mixin icon-dots-three-horizontal {
  content: "\e93b";
  @include icon;
}
@mixin icon-dots-three-vertical {
  content: "\e93c";
  @include icon;
}
@mixin icon-dots-two-horizontal {
  content: "\e93d";
  @include icon;
}
@mixin icon-dots-two-vertical {
  content: "\e93e";
  @include icon;
}
@mixin icon-download {
  content: "\e93f";
  @include icon;
}
@mixin icon-emoji-flirt {
  content: "\e940";
  @include icon;
}
@mixin icon-flow-branch {
  content: "\e941";
  @include icon;
}
@mixin icon-flow-cascade {
  content: "\e942";
  @include icon;
}
@mixin icon-flow-line {
  content: "\e943";
  @include icon;
}
@mixin icon-flow-parallel {
  content: "\e944";
  @include icon;
}
@mixin icon-flow-tree {
  content: "\e945";
  @include icon;
}
@mixin icon-install {
  content: "\e946";
  @include icon;
}
@mixin icon-layers {
  content: "\e947";
  @include icon;
}
@mixin icon-open-book {
  content: "\e948";
  @include icon;
}
@mixin icon-resize-100 {
  content: "\e949";
  @include icon;
}
@mixin icon-resize-full-screen {
  content: "\e94a";
  @include icon;
}
@mixin icon-save {
  content: "\e94b";
  @include icon;
}
@mixin icon-select-arrows {
  content: "\e94c";
  @include icon;
}
@mixin icon-sound-mute {
  content: "\e94d";
  @include icon;
}
@mixin icon-sound {
  content: "\e94e";
  @include icon;
}
@mixin icon-trash {
  content: "\e94f";
  @include icon;
}
@mixin icon-triangle-down {
  content: "\e950";
  @include icon;
}
@mixin icon-triangle-left {
  content: "\e951";
  @include icon;
}
@mixin icon-triangle-right {
  content: "\e952";
  @include icon;
}
@mixin icon-triangle-up {
  content: "\e953";
  @include icon;
}
@mixin icon-uninstall {
  content: "\e954";
  @include icon;
}
@mixin icon-upload-to-cloud {
  content: "\e955";
  @include icon;
}
@mixin icon-upload {
  content: "\e956";
  @include icon;
}
@mixin icon-add-user {
  content: "\e957";
  @include icon;
}
@mixin icon-address {
  content: "\e958";
  @include icon;
}
@mixin icon-adjust {
  content: "\e959";
  @include icon;
}
@mixin icon-air {
  content: "\e95a";
  @include icon;
}
@mixin icon-aircraft-landing {
  content: "\e95b";
  @include icon;
}
@mixin icon-aircraft-take-off {
  content: "\e95c";
  @include icon;
}
@mixin icon-aircraft {
  content: "\e95d";
  @include icon;
}
@mixin icon-align-bottom {
  content: "\e95e";
  @include icon;
}
@mixin icon-align-horizontal-middle {
  content: "\e95f";
  @include icon;
}
@mixin icon-align-left {
  content: "\e960";
  @include icon;
}
@mixin icon-align-right {
  content: "\e961";
  @include icon;
}
@mixin icon-align-top {
  content: "\e962";
  @include icon;
}
@mixin icon-align-vertical-middle {
  content: "\e963";
  @include icon;
}
@mixin icon-archive {
  content: "\e964";
  @include icon;
}
@mixin icon-area-graph {
  content: "\e965";
  @include icon;
}
@mixin icon-attachment {
  content: "\e966";
  @include icon;
}
@mixin icon-awareness-ribbon {
  content: "\e967";
  @include icon;
}
@mixin icon-back-in-time {
  content: "\e968";
  @include icon;
}
@mixin icon-back {
  content: "\e969";
  @include icon;
}
@mixin icon-bar-graph {
  content: "\e96a";
  @include icon;
}
@mixin icon-battery {
  content: "\e96b";
  @include icon;
}
@mixin icon-beamed-note {
  content: "\e96c";
  @include icon;
}
@mixin icon-bell {
  content: "\e96d";
  @include icon;
}
@mixin icon-blackboard {
  content: "\e96e";
  @include icon;
}
@mixin icon-block {
  content: "\e96f";
  @include icon;
}
@mixin icon-book {
  content: "\e970";
  @include icon;
}
@mixin icon-bowl {
  content: "\e971";
  @include icon;
}
@mixin icon-box {
  content: "\e972";
  @include icon;
}
@mixin icon-briefcase {
  content: "\e973";
  @include icon;
}
@mixin icon-browser {
  content: "\e974";
  @include icon;
}
@mixin icon-brush {
  content: "\e975";
  @include icon;
}
@mixin icon-bucket {
  content: "\e976";
  @include icon;
}
@mixin icon-cake {
  content: "\e977";
  @include icon;
}
@mixin icon-calculator {
  content: "\e978";
  @include icon;
}
@mixin icon-calendar {
  content: "\e979";
  @include icon;
}
@mixin icon-camera {
  content: "\e97a";
  @include icon;
}
@mixin icon-ccw {
  content: "\e97b";
  @include icon;
}
@mixin icon-chat {
  content: "\e97c";
  @include icon;
}
@mixin icon-check {
  content: "\e97d";
  @include icon;
}
@mixin icon-circle-with-cross {
  content: "\e97e";
  @include icon;
}
@mixin icon-circle-with-minus {
  content: "\e97f";
  @include icon;
}
@mixin icon-circle-with-plus {
  content: "\e980";
  @include icon;
}
@mixin icon-circle {
  content: "\e981";
  @include icon;
}
@mixin icon-circular-graph {
  content: "\e982";
  @include icon;
}
@mixin icon-clapperboard {
  content: "\e983";
  @include icon;
}
@mixin icon-clipboard {
  content: "\e984";
  @include icon;
}
@mixin icon-clock {
  content: "\e985";
  @include icon;
}
@mixin icon-code {
  content: "\e986";
  @include icon;
}
@mixin icon-cog {
  content: "\e987";
  @include icon;
}
@mixin icon-colours {
  content: "\e988";
  @include icon;
}
@mixin icon-compass {
  content: "\e989";
  @include icon;
}
@mixin icon-copy {
  content: "\e98a";
  @include icon;
}
@mixin icon-credit-card {
  content: "\e98b";
  @include icon;
}
@mixin icon-credit {
  content: "\e98c";
  @include icon;
}
@mixin icon-cross {
  content: "\e98d";
  @include icon;
}
@mixin icon-cup {
  content: "\e98e";
  @include icon;
}
@mixin icon-cw {
  content: "\e98f";
  @include icon;
}
@mixin icon-cycle {
  content: "\e990";
  @include icon;
}
@mixin icon-database {
  content: "\e991";
  @include icon;
}
@mixin icon-dial-pad {
  content: "\e992";
  @include icon;
}
@mixin icon-direction {
  content: "\e993";
  @include icon;
}
@mixin icon-document {
  content: "\e994";
  @include icon;
}
@mixin icon-documents {
  content: "\e995";
  @include icon;
}
@mixin icon-drink {
  content: "\e996";
  @include icon;
}
@mixin icon-drive {
  content: "\e997";
  @include icon;
}
@mixin icon-drop {
  content: "\e998";
  @include icon;
}
@mixin icon-edit {
  content: "\e999";
  @include icon;
}
@mixin icon-email {
  content: "\e99a";
  @include icon;
}
@mixin icon-emoji-happy {
  content: "\e99b";
  @include icon;
}
@mixin icon-emoji-neutral {
  content: "\e99c";
  @include icon;
}
@mixin icon-emoji-sad {
  content: "\e99d";
  @include icon;
}
@mixin icon-erase {
  content: "\e99e";
  @include icon;
}
@mixin icon-eraser {
  content: "\e99f";
  @include icon;
}
@mixin icon-export {
  content: "\e9a0";
  @include icon;
}
@mixin icon-eye {
  content: "\e9a1";
  @include icon;
}
@mixin icon-feather {
  content: "\e9a2";
  @include icon;
}
@mixin icon-flag {
  content: "\e9a3";
  @include icon;
}
@mixin icon-flash {
  content: "\e9a4";
  @include icon;
}
@mixin icon-flashlight {
  content: "\e9a5";
  @include icon;
}
@mixin icon-flat-brush {
  content: "\e9a6";
  @include icon;
}
@mixin icon-folder-images {
  content: "\e9a7";
  @include icon;
}
@mixin icon-folder-music {
  content: "\e9a8";
  @include icon;
}
@mixin icon-folder-video {
  content: "\e9a9";
  @include icon;
}
@mixin icon-folder {
  content: "\e9aa";
  @include icon;
}
@mixin icon-forward {
  content: "\e9ab";
  @include icon;
}
@mixin icon-funnel {
  content: "\e9ac";
  @include icon;
}
@mixin icon-game-controller {
  content: "\e9ad";
  @include icon;
}
@mixin icon-gauge {
  content: "\e9ae";
  @include icon;
}
@mixin icon-globe {
  content: "\e9af";
  @include icon;
}
@mixin icon-graduation-cap {
  content: "\e9b0";
  @include icon;
}
@mixin icon-grid {
  content: "\e9b1";
  @include icon;
}
@mixin icon-hair-cross {
  content: "\e9b2";
  @include icon;
}
@mixin icon-hand {
  content: "\e9b3";
  @include icon;
}
@mixin icon-heart-outlined {
  content: "\e9b4";
  @include icon;
}
@mixin icon-heart {
  content: "\e9b5";
  @include icon;
}
@mixin icon-help-with-circle {
  content: "\e9b6";
  @include icon;
}
@mixin icon-help {
  content: "\e9b7";
  @include icon;
}
@mixin icon-home {
  content: "\e9b8";
  @include icon;
}
@mixin icon-hour-glass {
  content: "\e9b9";
  @include icon;
}
@mixin icon-image-inverted {
  content: "\e9ba";
  @include icon;
}
@mixin icon-image {
  content: "\e9bb";
  @include icon;
}
@mixin icon-images {
  content: "\e9bc";
  @include icon;
}
@mixin icon-inbox {
  content: "\e9bd";
  @include icon;
}
@mixin icon-infinity {
  content: "\e9be";
  @include icon;
}
@mixin icon-info-with-circle {
  content: "\e9bf";
  @include icon;
}
@mixin icon-info {
  content: "\e9c0";
  @include icon;
}
@mixin icon-key {
  content: "\e9c1";
  @include icon;
}
@mixin icon-keyboard {
  content: "\e9c2";
  @include icon;
}
@mixin icon-lab-flask {
  content: "\e9c3";
  @include icon;
}
@mixin icon-landline {
  content: "\e9c4";
  @include icon;
}
@mixin icon-language {
  content: "\e9c5";
  @include icon;
}
@mixin icon-laptop {
  content: "\e9c6";
  @include icon;
}
@mixin icon-leaf {
  content: "\e9c7";
  @include icon;
}
@mixin icon-level-down {
  content: "\e9c8";
  @include icon;
}
@mixin icon-level-up {
  content: "\e9c9";
  @include icon;
}
@mixin icon-lifebuoy {
  content: "\e9ca";
  @include icon;
}
@mixin icon-light-bulb {
  content: "\e9cb";
  @include icon;
}
@mixin icon-light-down {
  content: "\e9cc";
  @include icon;
}
@mixin icon-light-up {
  content: "\e9cd";
  @include icon;
}
@mixin icon-line-graph {
  content: "\e9ce";
  @include icon;
}
@mixin icon-link {
  content: "\e9cf";
  @include icon;
}
@mixin icon-list {
  content: "\e9d0";
  @include icon;
}
@mixin icon-location-pin {
  content: "\e9d1";
  @include icon;
}
@mixin icon-location {
  content: "\e9d2";
  @include icon;
}
@mixin icon-lock-open {
  content: "\e9d3";
  @include icon;
}
@mixin icon-lock {
  content: "\e9d4";
  @include icon;
}
@mixin icon-log-out {
  content: "\e9d5";
  @include icon;
}
@mixin icon-login {
  content: "\e9d6";
  @include icon;
}
@mixin icon-loop {
  content: "\e9d7";
  @include icon;
}
@mixin icon-magnet {
  content: "\e9d8";
  @include icon;
}
@mixin icon-magnifying-glass {
  content: "\e9d9";
  @include icon;
}
@mixin icon-mail {
  content: "\e9da";
  @include icon;
}
@mixin icon-man {
  content: "\e9db";
  @include icon;
}
@mixin icon-map {
  content: "\e9dc";
  @include icon;
}
@mixin icon-mask {
  content: "\e9dd";
  @include icon;
}
@mixin icon-medal {
  content: "\e9de";
  @include icon;
}
@mixin icon-megaphone {
  content: "\e9df";
  @include icon;
}
@mixin icon-menu {
  content: "\e9e0";
  @include icon;
}
@mixin icon-message {
  content: "\e9e1";
  @include icon;
}
@mixin icon-mic {
  content: "\e9e2";
  @include icon;
}
@mixin icon-minus {
  content: "\e9e3";
  @include icon;
}
@mixin icon-mobile {
  content: "\e9e4";
  @include icon;
}
@mixin icon-modern-mic {
  content: "\e9e5";
  @include icon;
}
@mixin icon-moon {
  content: "\e9e6";
  @include icon;
}
@mixin icon-mouse {
  content: "\e9e7";
  @include icon;
}
@mixin icon-music {
  content: "\e9e8";
  @include icon;
}
@mixin icon-network {
  content: "\e9e9";
  @include icon;
}
@mixin icon-new-message {
  content: "\e9ea";
  @include icon;
}
@mixin icon-new {
  content: "\e9eb";
  @include icon;
}
@mixin icon-news {
  content: "\e9ec";
  @include icon;
}
@mixin icon-note {
  content: "\e9ed";
  @include icon;
}
@mixin icon-notification {
  content: "\e9ee";
  @include icon;
}
@mixin icon-old-mobile {
  content: "\e9ef";
  @include icon;
}
@mixin icon-old-phone {
  content: "\e9f0";
  @include icon;
}
@mixin icon-palette {
  content: "\e9f1";
  @include icon;
}
@mixin icon-paper-plane {
  content: "\e9f2";
  @include icon;
}
@mixin icon-pencil {
  content: "\e9f3";
  @include icon;
}
@mixin icon-phone {
  content: "\e9f4";
  @include icon;
}
@mixin icon-pie-chart {
  content: "\e9f5";
  @include icon;
}
@mixin icon-pin {
  content: "\e9f6";
  @include icon;
}
@mixin icon-plus {
  content: "\e9f7";
  @include icon;
}
@mixin icon-popup {
  content: "\e9f8";
  @include icon;
}
@mixin icon-power-plug {
  content: "\e9f9";
  @include icon;
}
@mixin icon-price-ribbon {
  content: "\e9fa";
  @include icon;
}
@mixin icon-price-tag {
  content: "\e9fb";
  @include icon;
}
@mixin icon-print {
  content: "\e9fc";
  @include icon;
}
@mixin icon-progress-empty {
  content: "\e9fd";
  @include icon;
}
@mixin icon-progress-full {
  content: "\e9fe";
  @include icon;
}
@mixin icon-progress-one {
  content: "\e9ff";
  @include icon;
}
@mixin icon-progress-two {
  content: "\ea00";
  @include icon;
}
@mixin icon-publish {
  content: "\ea01";
  @include icon;
}
@mixin icon-quote {
  content: "\ea02";
  @include icon;
}
@mixin icon-radio {
  content: "\ea03";
  @include icon;
}
@mixin icon-reply-all {
  content: "\ea04";
  @include icon;
}
@mixin icon-reply {
  content: "\ea05";
  @include icon;
}
@mixin icon-retweet {
  content: "\ea06";
  @include icon;
}
@mixin icon-rocket {
  content: "\ea07";
  @include icon;
}
@mixin icon-round-brush {
  content: "\ea08";
  @include icon;
}
@mixin icon-rss {
  content: "\ea09";
  @include icon;
}
@mixin icon-ruler {
  content: "\ea0a";
  @include icon;
}
@mixin icon-scissors {
  content: "\ea0b";
  @include icon;
}
@mixin icon-share-alternitive {
  content: "\ea0c";
  @include icon;
}
@mixin icon-share {
  content: "\ea0d";
  @include icon;
}
@mixin icon-shareable {
  content: "\ea0e";
  @include icon;
}
@mixin icon-shield {
  content: "\ea0f";
  @include icon;
}
@mixin icon-shop {
  content: "\ea10";
  @include icon;
}
@mixin icon-shopping-bag {
  content: "\ea11";
  @include icon;
}
@mixin icon-shopping-basket {
  content: "\ea12";
  @include icon;
}
@mixin icon-shopping-cart {
  content: "\ea13";
  @include icon;
}
@mixin icon-shuffle {
  content: "\ea14";
  @include icon;
}
@mixin icon-signal {
  content: "\ea15";
  @include icon;
}
@mixin icon-sound-mix {
  content: "\ea16";
  @include icon;
}
@mixin icon-sports-club {
  content: "\ea17";
  @include icon;
}
@mixin icon-spreadsheet {
  content: "\ea18";
  @include icon;
}
@mixin icon-squared-cross {
  content: "\ea19";
  @include icon;
}
@mixin icon-squared-minus {
  content: "\ea1a";
  @include icon;
}
@mixin icon-squared-plus {
  content: "\ea1b";
  @include icon;
}
@mixin icon-star-outlined {
  content: "\ea1c";
  @include icon;
}
@mixin icon-star {
  content: "\ea1d";
  @include icon;
}
@mixin icon-stopwatch {
  content: "\ea1e";
  @include icon;
}
@mixin icon-suitcase {
  content: "\ea1f";
  @include icon;
}
@mixin icon-swap {
  content: "\ea20";
  @include icon;
}
@mixin icon-sweden {
  content: "\ea21";
  @include icon;
}
@mixin icon-switch {
  content: "\ea22";
  @include icon;
}
@mixin icon-tablet {
  content: "\ea23";
  @include icon;
}
@mixin icon-tag {
  content: "\ea24";
  @include icon;
}
@mixin icon-text-document-inverted {
  content: "\ea25";
  @include icon;
}
@mixin icon-text-document {
  content: "\ea26";
  @include icon;
}
@mixin icon-text {
  content: "\ea27";
  @include icon;
}
@mixin icon-thermometer {
  content: "\ea28";
  @include icon;
}
@mixin icon-thumbs-down {
  content: "\ea29";
  @include icon;
}
@mixin icon-thumbs-up {
  content: "\ea2a";
  @include icon;
}
@mixin icon-thunder-cloud {
  content: "\ea2b";
  @include icon;
}
@mixin icon-ticket {
  content: "\ea2c";
  @include icon;
}
@mixin icon-time-slot {
  content: "\ea2d";
  @include icon;
}
@mixin icon-tools {
  content: "\ea2e";
  @include icon;
}
@mixin icon-traffic-cone {
  content: "\ea2f";
  @include icon;
}
@mixin icon-tree {
  content: "\ea30";
  @include icon;
}
@mixin icon-trophy {
  content: "\ea31";
  @include icon;
}
@mixin icon-tv {
  content: "\ea32";
  @include icon;
}
@mixin icon-typing {
  content: "\ea33";
  @include icon;
}
@mixin icon-unread {
  content: "\ea34";
  @include icon;
}
@mixin icon-untag {
  content: "\ea35";
  @include icon;
}
@mixin icon-user {
  content: "\ea36";
  @include icon;
}
@mixin icon-users {
  content: "\ea37";
  @include icon;
}
@mixin icon-v-card {
  content: "\ea38";
  @include icon;
}
@mixin icon-video {
  content: "\ea39";
  @include icon;
}
@mixin icon-vinyl {
  content: "\ea3a";
  @include icon;
}
@mixin icon-voicemail {
  content: "\ea3b";
  @include icon;
}
@mixin icon-wallet {
  content: "\ea3c";
  @include icon;
}
@mixin icon-water {
  content: "\ea3d";
  @include icon;
}
@mixin icon-500px-with-circle {
  content: "\ea3e";
  @include icon;
}
@mixin icon-500px {
  content: "\ea3f";
  @include icon;
}
@mixin icon-basecamp {
  content: "\ea40";
  @include icon;
}
@mixin icon-behance {
  content: "\ea41";
  @include icon;
}
@mixin icon-creative-cloud {
  content: "\ea42";
  @include icon;
}
@mixin icon-dropbox {
  content: "\ea43";
  @include icon;
}
@mixin icon-evernote {
  content: "\ea44";
  @include icon;
}
@mixin icon-flattr {
  content: "\ea45";
  @include icon;
}
@mixin icon-foursquare {
  content: "\ea46";
  @include icon;
}
@mixin icon-google-drive {
  content: "\ea47";
  @include icon;
}
@mixin icon-google-hangouts {
  content: "\ea48";
  @include icon;
}
@mixin icon-grooveshark {
  content: "\ea49";
  @include icon;
}
@mixin icon-icloud {
  content: "\ea4a";
  @include icon;
}
@mixin icon-mixi {
  content: "\ea4b";
  @include icon;
}
@mixin icon-onedrive {
  content: "\ea4c";
  @include icon;
}
@mixin icon-paypal {
  content: "\ea4d";
  @include icon;
}
@mixin icon-picasa {
  content: "\ea4e";
  @include icon;
}
@mixin icon-qq {
  content: "\ea4f";
  @include icon;
}
@mixin icon-rdio-with-circle {
  content: "\ea50";
  @include icon;
}
@mixin icon-renren {
  content: "\ea51";
  @include icon;
}
@mixin icon-scribd {
  content: "\ea52";
  @include icon;
}
@mixin icon-sina-weibo {
  content: "\ea53";
  @include icon;
}
@mixin icon-skype-with-circle {
  content: "\ea54";
  @include icon;
}
@mixin icon-skype {
  content: "\ea55";
  @include icon;
}
@mixin icon-slideshare {
  content: "\ea56";
  @include icon;
}
@mixin icon-smashing {
  content: "\ea57";
  @include icon;
}
@mixin icon-soundcloud {
  content: "\ea58";
  @include icon;
}
@mixin icon-spotify-with-circle {
  content: "\ea59";
  @include icon;
}
@mixin icon-spotify {
  content: "\ea5a";
  @include icon;
}
@mixin icon-swarm {
  content: "\ea5b";
  @include icon;
}
@mixin icon-vine-with-circle {
  content: "\ea5c";
  @include icon;
}
@mixin icon-vine {
  content: "\ea5d";
  @include icon;
}
@mixin icon-vk-alternitive {
  content: "\ea5e";
  @include icon;
}
@mixin icon-vk-with-circle {
  content: "\ea5f";
  @include icon;
}
@mixin icon-vk {
  content: "\ea60";
  @include icon;
}
@mixin icon-xing-with-circle {
  content: "\ea61";
  @include icon;
}
@mixin icon-xing {
  content: "\ea62";
  @include icon;
}
@mixin icon-yelp {
  content: "\ea63";
  @include icon;
}
@mixin icon-dribbble-with-circle {
  content: "\ea64";
  @include icon;
}
@mixin icon-dribbble {
  content: "\ea65";
  @include icon;
}
@mixin icon-facebook-with-circle {
  content: "\ea66";
  @include icon;
}
@mixin icon-facebook {
  content: "\ea67";
  @include icon;
}
@mixin icon-flickr-with-circle {
  content: "\ea68";
  @include icon;
}
@mixin icon-flickr {
  content: "\ea69";
  @include icon;
}
@mixin icon-github-with-circle {
  content: "\ea6a";
  @include icon;
}
@mixin icon-github {
  content: "\ea6b";
  @include icon;
}
@mixin icon-google-with-circle {
  content: "\ea6c";
  @include icon;
}
@mixin icon-google {
  content: "\ea6d";
  @include icon;
}
@mixin icon-instagram-with-circle {
  content: "\ea6e";
  @include icon;
}
@mixin icon-instagram {
  content: "\ea6f";
  @include icon;
}
@mixin icon-lastfm-with-circle {
  content: "\ea70";
  @include icon;
}
@mixin icon-lastfm {
  content: "\ea71";
  @include icon;
}
@mixin icon-linkedin-with-circle {
  content: "\ea72";
  @include icon;
}
@mixin icon-linkedin {
  content: "\ea73";
  @include icon;
}
@mixin icon-pinterest-with-circle {
  content: "\ea74";
  @include icon;
}
@mixin icon-pinterest {
  content: "\ea75";
  @include icon;
}
@mixin icon-rdio {
  content: "\ea76";
  @include icon;
}
@mixin icon-stumbleupon-with-circle {
  content: "\ea77";
  @include icon;
}
@mixin icon-stumbleupon {
  content: "\ea78";
  @include icon;
}
@mixin icon-tumblr-with-circle {
  content: "\ea79";
  @include icon;
}
@mixin icon-tumblr {
  content: "\ea7a";
  @include icon;
}
@mixin icon-twitter-with-circle {
  content: "\ea7b";
  @include icon;
}
@mixin icon-twitter {
  content: "\ea7c";
  @include icon;
}
@mixin icon-vimeo-with-circle {
  content: "\ea7d";
  @include icon;
}
@mixin icon-vimeo {
  content: "\ea7e";
  @include icon;
}
@mixin icon-youtube-with-circle {
  content: "\ea7f";
  @include icon;
}
@mixin icon-youtube {
  content: "\ea80";
  @include icon;
}
