/**
 * @file
 * Defines the typography rules, like size, weight and font family.
 */

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
}

h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

.ultra-bold {
  font-weight: 900;
}
