/**
 * @file
 * Define styles for the different user forms.
 */

.page-user-edit,
.not-logged-in.page-user {

  .page-title {
    text-align: center;
  }

  .site-content {
    margin: 0 auto;
    max-width: 500px;
  }

  #edit-actions {
    text-align: center;
  }
}

form#user-pass,
form#user-login,
form#user-register-form {
  @include hide-label;
}
