/**
 * @file
 * Defines reusable mixins.
 */

@mixin box {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
}

@mixin action-element {
  display: inline-block;
  padding: .5em 1em;

  border: 0;
  border-radius: 1em;
  background: $blue;

  text-decoration: none;
  color: white;
  line-height: normal;

  // Only apply hover styles for non-touch screens.
  // @todo
  /*body.no-touch*/ &:hover, &:focus {
    background-color: $dark-blue;
  }
}

@mixin secondary-action-element {
  @include action-element;

  border: 2px solid $green;
  color: $green;
  background: transparent;

  // Only apply hover styles for non-touch screens.
  // @todo
  /*body.no-touch*/ &:hover, &:focus {
    border-color: darken($green, 5%);
    color: white;
    background-color: darken($green, 5%);
  }
}

@mixin action-icon-element {
  @include action-element;

  &::before {
    padding-right: .5em;
  }
}

@mixin action-add-element {
  @include action-icon-element;

  &::before {
    @include icon-plus;
  }
}

@mixin action-save-element {
  @include action-icon-element;

  &::before {
    @include icon-save;
  }
}

@mixin danger-element {
  @include action-element;

  background: $red;

  // Only apply hover styles for non-touch screens.
  // @todo
  /*body.no-touch*/ &:hover, &:focus {
    background-color: $dark-red;
  }
}

@mixin danger-link {
  color: $red;

  // Only apply hover styles for non-touch screens.
  // @todo
  /*body.no-touch*/ &:hover, &:focus {
    color: $dark-red;
  }
}

@mixin hide-label {
  label {
    height: 0;
    visibility: hidden;
  }
}

@mixin text-input {
  display: block;
  max-width: 100%;

  margin-bottom: .5em;
  padding: .5em;

  color: $dark-gray;

  border-width: 0 0 2px 0;
  border-color: $dark-gray;
  border-radius: 0;
  background: transparent;
  transition: border-color .5s, color .5s;

  &.error {
    color: $red;
    border-width: 0 0 2px 0;
    border-color: $red;
  }

  &:focus {
    color: $black;
    border-color: $black;
  }
/*



  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #a0a0a0;
  background: #f9f9f9;
  outline: none;
  min-height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  word-wrap: break-word;

  &:focus {
    outline: none;
    background-color: #fff;
    border-color: #53a0ff;
  }*/
}
