

/**
 * Colors.
 */
$black: #111;
$blue: #1a73d9;
$light-blue: lighten($blue, 20%);
$dark-blue: #1356a3;
$gray: #888;
$dark-gray: #333;
$green: #339900;
$red: #e40000;
$dark-red: #a00;

/**
 * Measurements.
 */
$header-height: 40px;
$desktop-breakpoint: 800px;





$mobile-breakpoint: 400px;






$leaf-green: leaf-green;
$blood-red: red;
$medium-gray: gray;
$light-gray: gray;
$deep-blue: blue;
$link-color: $deep-blue;
$link-hover-color: lighten($link-color, 10);
